@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.cat-div{
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.disabled-field {
        background-color: #e9ecef; /* Gris claro */
        color: #495057; /* Color de texto más oscuro */
        border: 1px solid #ced4da; /* Borde gris claro */
        cursor: not-allowed; /* Cursor de no permitido */
    }