<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <header th:insert="/layout/frontend :: main-header"></header>
</div>

<section>
    <div class="container-fluid mt-5 p-5 bg-light">
        <div class="row">
            <div class="col-md-10 offset-md-1 ">
                <div th:if="${message!=null}" th:class="'alert alert-' + ${clas} + ' alert-dismissible fade show'">
                    <span th:text="${message}"></span>
                    <button th:if="${message!=null}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="border p-4 rounded">
                            <p class="fs-3 text-center">Profile Details</p>
                            <hr>
                            <div class="text-center mb-4">
                                <img alt="" th:src="${baseUrlUpload}+'ecommerce/profiles/'+${user.profileImage}"
                                     class="border p-2"
                                     style="width: 110px; height: 110px; border-radius: 50%;">
                            </div>

                            <form name="form" th:object="${user}" th:action="@{'/ecommerce/customer/update-profile/'+${id}}" method="post"
                                  enctype="multipart/form-data">

                                <div class="mb-3">
                                    <label for="name" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" th:field="*{name}" id="name">
                                    <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('name')}" th:text="${errors.name}"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber">
                                    <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('phoneNumber')}" th:text="${errors.phoneNumber}"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="username" class="form-label">Email</label>
                                    <input type="text" class="form-control disabled-field" th:field="*{username}" id="username" disabled>
                                </div>

                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" th:field="*{address}" id="address">
                                    <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('address')}" th:text="${errors.address}"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="pincode" class="form-label">Pincode</label>
                                    <input type="text" class="form-control" th:field="*{pincode}" id="pincode">
                                    <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('pincode')}" th:text="${errors.pincode}"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Profile Image</label>
                                    <input type="file" class="form-control" name="image" id="image">
                                </div>

                                <button type="submit" class="btn btn-primary col-md-12">Update</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="border p-4 rounded">
                            <p class="fs-3 text-center">Change Password</p>
                            <hr>
                            <div class="col-md-12">
                                <form th:action="@{/ecommerce/customer/change-password}" method="post">
                                    <div class="mb-3">
                                        <label for="current_password" class="form-label">Current Password</label>
                                        <input type="password" class="form-control" name="current_password" id="current_password" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="new_password" class="form-label">New Password</label>
                                        <input type="password" name="new_password" class="form-control" id="new_password" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="confirm_password" class="form-label">Confirm Password</label>
                                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary col-md-12">Change</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:insert="/layout/frontend::scripts"></div>
</body>
</html>