<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<section>
    <div th:replace="/layout/frontend :: main-header"></div>

    <div class="container card-sh" style="margin-top: 70px; margin-bottom: 100px">
        <div class="col-md-12 p-5">
            <div class="row">
                <div class="col-md-6 text-end">
                    <img alt="" th:src="${baseUrlUpload + 'producto/' + product.image}" width="330px" height="400px"/>
                </div>
                <div class="col-md-6">
                    <p class="fs-3" th:text="${product.name}"></p>
                    <p>
                        <span class="fw-bold">Description : </span><br/>
                        <span th:text="${product.description}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Product Details: </span><br/>
                        Status :
                        <span th:if="${product.stock > 0}" class="badge bg-success">Available</span>
                        <span th:unless="${product.stock > 0}" class="badge bg-warning">Out of stock</span><br/>
                        Category: <span th:text="${product.category.name}"></span><br/>
                        Policy : 7 Days Replacement & Return
                    </p>
                    <p class="fs-5 fw-bold">
                        Price :&nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-dollar-sign"></i>
                        <span th:text="${product.discountPrice}"></span>
                        <span class="fs-6 text-decoration-line-through text-secondary" th:text="${product.price}"></span>
                        <span class="fs-6 text-success" th:text="${product.discount.toPlainString()}+'% off'"></span>
                    </p>

                    <div class="row">
                        <div class="col-md-4 text-success text-center p-2">
                            <i class="fas fa-money-bill-wave fa-2x"></i>
                            <p>Cash On Delivery</p>
                        </div>
                        <div class="col-md-4 text-danger text-center p-2">
                            <i class="fas fa-undo-alt fa-2x"></i>
                            <p>Return Available</p>
                        </div>
                        <div class="col-md-4 text-primary text-center p-2">
                            <i class="fas fa-truck-moving fa-2x"></i>
                            <p>Free Shipping</p>
                        </div>
                    </div>

                    <th:block th:if="${product.stock > 0}">
                        <a href="login.html" class="btn btn-danger col-md-12">Add To Cart</a>
                    </th:block>

                    <th:block th:unless="${product.stock > 0}">
                        <a href="#" class="btn text-white btn-warning col-md-12">Out of Stock</a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
